        [taco-rain]{
          filter:sepia(0.75) saturate(2);
        }
        [taco-rain]:hover{display:none;}

        body{
          filter:hue-rotate(45deg) saturate(2) contrast(1.1);
        }
